{% extends "todo/base.html" %}

{% block content %}
    <h3>Ajouter une tache</h3>
    <form action="{% url 'todo:process_add' %}" method="post">
        {% csrf_token %}
        <!-- un champ pour la description -->
        <div>
            Description : <input type="text" required name="description" id="description">
        </div>
        <!-- un champ pour le deadline -->
        <div>
            Deadline : <input type="date" required name="deadline" id="deadline">
        </div>
        <!-- block bouton-->
        <div>
            <button type="submit" name="action" value="add">Add</button>
            <button type="reset" name="action" value="reset">Reset</button>
        </div>
    </form>
{% endblock %}