{% extends "todo/base.html" %}
{% block content %}
{% load static %}
    <div class="container p-5 my-5">
        <div class=" row justify-content-center">
            <div class="container border rounded col-md-6 col-lg-5">
                <h3 class="mt-5">Modifier une tâche </h3>
                <form action="{% url 'todo:traitement' tache.id %}" method="post">
                    {% csrf_token %}
                    <!-- un champ pour la description -->
                    <div class="mb-3 mt-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control"value="{{tache.description}}"required="True" name="description" id="description">
                    </div>
                    <!-- un champ pour le deadline -->
                    <div class="mb-3 mt-3">
                        <label for="deadline" class="form-label">Deadline</label> 
                        <input type="date" class="form-control" value="{{tache.dead_line|date:'Y-m-d'}}" required="True" name="deadline" id="deadline">
                    </div>
                    <!--statu du tâche -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" {% if tache.status %}checked{% endif %} name="status" id="status">
                        <label class="form-check-label">Status</label>
                    </div>
                    <!-- block bouton-->
                    <div class="mt-3 mb-5">
                        <button class="btn btn-success" type="submit" name="action" value="save">Save</button>
                        <button class="btn btn-danger" type="submit" name="action" value="delete">Delete</button>
                        <button class="btn btn-secondary" type="reset" name="action" value="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}